@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
    margin: 0;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
}


.detail-container{
    text-align: center;
}
.table{
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    padding-bottom: 3%;
}

.post-list {
    border-bottom: 1px solid #ccc;
}
.footer {
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
